* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: -webkit-linear-gradient(#333333, #777777);
	padding: 20px 0;
	min-height: 100vh;
	color: #fff;
}

.container {
	width: 80%;
	background: -webkit-linear-gradient(#333399, #9999FF);
	box-shadow: 0 0 20px;
	padding: 40px 100px;
	margin: 0 auto;
}

.label, .btn {
	padding: 10px;
	margin-left: 20px;
	display: inline-block;
	min-width: 100px;
}

.btn {
	animation: flash 1s;
}

#js-playerPick_rock:hover, #js-playerPick_paper:hover, #js-playerPick_scissors:hover {
	animation: wobble 1s;
} 

#js-winGameElement {
	width: 80%;
	text-align: center;
}

#js-winGameElement img {
	margin: 0 auto;
}


